//Primary
//Shades of blue and indigo
$primary: #494FE9;
$eco-blue-100: #D5EBFB;
$eco-blue-200: #8ECFFF;
$eco-blue-300: #6081F4;
$eco-blue-400: $primary;
$eco-blue-500: #2A38BB;
$eco-blue-600: #0F1B84;

//Secondary
//Shades of turquoise
$secondary: #47DCC1;
$eco-green-100: #C1FFF4;
$eco-green-200: #8AF8E4;
$eco-green-300: #6AE5CF;
$eco-green-400: $secondary;
$eco-green-500: #36C1A8;
$eco-green-600: #1BA189;

//Neutral
//Shades of cool gray
$neutral: #858CA5;
$eco-gray-100: #EDEEFF;
$eco-gray-200: #D7D7EF;
$eco-gray-300:  #AFB0D6;
$eco-gray-400: $neutral;
$eco-gray-500: #6F7792;
$eco-gray-600: #525870;