.diagnosis {
    background-color: #6ae6cf;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "title"
        "form";
    padding: 1rem .8rem;
    &__title {
        grid-area: title;
        place-self: center center;
        color: #ffff;
        font-size: 2.8rem;
        padding: 2.5rem;
    }
    
    @media only screen and (min-width: 700px) and (max-width: 1050px) {
        padding: 2rem 2rem;
    }

    @media only screen and (min-width: 1050px) and (max-width: 1449px) {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
            ". title ."
            ". form .";
        padding: 0 0 2rem 0;
    }

    @media only screen and (min-width: 1450px) {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas:
            ". title ."
            ". form .";
        padding: 0 0 2rem 0;

        &__title {
            font-size: 2.5rem;
            padding: 2.5rem;
        }
    }
}

.form {

    grid-area: form;
    background-color: #ffffff;
    opacity: 0.93;
    border-radius: 10px;
    padding: 1rem 1.6rem;

    &__title {
        color: #28b098;
        font-size: 1.5rem;
        padding: 2rem 0;
    }

    &__label {
        color: #7e80ab;
        font-size: 1.2rem;
    }

    &__inputRow {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        margin: 0 0 3rem 0;
    }

    @media only screen and (min-width: 700px) and (max-width: 1050px) {
        padding: 1rem 2rem;
    }

    @media only screen and (min-width: 1050px) and (max-width: 1449px) {
        padding: 1rem 3rem;

        &__title {
            font-size: 1.8rem;
        }

    }

    @media only screen and (min-width: 1450px) {
        padding: 2rem 7rem;
        border-top: 1rem solid #31c9ae;

        &__title {
            font-size: 2rem;
        }
    }
}
