.mainButton{
    height: 4.2rem;
    background: linear-gradient(180deg, #44C8A1 0%, #43C8A0 100%);
    border-radius: 5px;
    border: none;
    color: #ffff;
    font-size: 1.5rem;
    padding: 1.2rem;
}